# Node.js
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/

# Dependency lock files
package-lock.json
yarn.lock

# Testing
coverage/

# Miscellaneous
.public/uploads/
.DS_Store
Thumbs.db
.env
