# Node.js
node_modules/

# Build output
build/
dist/




# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/

# Dependency lock files
package-lock.json
yarn.lock
sarthi-presentation.md
interview.md
# Testing
coverage/

# Miscellaneous
public/
/backend/node_modules/
/classroom/node_modules/
.DS_Store
Thumbs.db
.env

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*


*.log
/*.log